<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
       <appenders>
        <!--这个输出控制台的配置-->
        <Console name="STDOUT" >
             <!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch）-->
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY" />
            <!-- 输出日志的格式-->
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level [%logger{50}:%L] [${spring.zipkin.service.name:${spring.application.name:-}},%X{X-B3-TraceId:-},%X{X-B3-SpanId:-},%X{X-Span-Export:-}] - %msg%n" charset="UTF-8"/>
        </Console>

        <RollingRandomAccessFile name="FILE-INFO" fileName="logs/cyberzone-web-info.log"
            filePattern="logs/cyberzone-web-info.%d{yyyy-MM-dd-HH}.log">
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY" />
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level [%logger{50}:%L] [${spring.zipkin.service.name:${spring.application.name:-}},%X{X-B3-TraceId:-},%X{X-B3-SpanId:-},%X{X-Span-Export:-}] %tcid - %msg%n" charset="UTF-8" />
            <TimeBasedTriggeringPolicy  interval="1" />
            <DefaultRolloverStrategy max="1"  >
               <Delete basePath="logs" maxDepth="2">
                    <IfFileName glob="*cyberzone-web-info.*.log" />
                    <IfLastModified age="1h" />
               </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>


        <RollingRandomAccessFile name="FILE-DEBUG" fileName="logs/cyberzone-web-debug.log"
            filePattern="logs/cyberzone-web-debug.%d{yyyy-MM-dd-HH}.log">
            <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY" />
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS}  [%t] %-5level [%logger{50}:%L] [${spring.zipkin.service.name:${spring.application.name:-}},%X{X-B3-TraceId:-},%X{X-B3-SpanId:-},%X{X-Span-Export:-}] %tcid - %msg%n" charset="UTF-8" />
            <TimeBasedTriggeringPolicy  interval="1" />
            <DefaultRolloverStrategy max="1"  >
               <Delete basePath="logs" maxDepth="2">
                    <IfFileName glob="*cyberzone-web-debug.*.log" />
                    <IfLastModified age="1h" />
               </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="FILE-WARN" fileName="logs/cyberzone-web-warn.log"
            filePattern="logs/cyberzone-web-warn.%d{yyyy-MM-dd-HH}.log">
            <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY" />
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level [%logger{50}:%L] [${spring.zipkin.service.name:${spring.application.name:-}},%X{X-B3-TraceId:-},%X{X-B3-SpanId:-},%X{X-Span-Export:-}] %tcid - %msg%n" charset="UTF-8" />
            <TimeBasedTriggeringPolicy  interval="1" />
             <DefaultRolloverStrategy max="1"  >
               <Delete basePath="logs" maxDepth="2">
                    <IfFileName glob="*cyberzone-web-warn.*.log" />
                    <IfLastModified age="1h" />
               </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="FILE-ERROR" fileName="logs/cyberzone-web-error.log"
            filePattern="logs/cyberzone-web-error.%d{yyyy-MM-dd-HH}.log">
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY" />
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level [%logger{50}:%L] [${spring.zipkin.service.name:${spring.application.name:-}},%X{X-B3-TraceId:-},%X{X-B3-SpanId:-},%X{X-Span-Export:-}] %tcid - %msg%n" charset="UTF-8" />
            <TimeBasedTriggeringPolicy  interval="1" />
            <DefaultRolloverStrategy max="1"  >
               <Delete basePath="logs" maxDepth="2">
                    <IfFileName glob="*cyberzone-web-error.*.log" />
                    <IfLastModified age="1h" />
               </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>
    </appenders>

    <loggers>
        <!--swagger 杂乱 无用，所以关闭-->
	    <AsyncLogger name="springfox" level="OFF"></AsyncLogger>

        <!--includeLocation="true" :打印出行号-->
        <AsyncRoot level="INFO" includeLocation="true" >
            <AppenderRef ref="FILE-INFO" />
            <AppenderRef ref="FILE-WARN" />
            <AppenderRef ref="FILE-ERROR" />
            <AppenderRef ref="STDOUT" />
        </AsyncRoot>

    </loggers>
</configuration>