<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.safecode.cyberzone.mapper.AdTaskTargetMapper" >
  <resultMap id="BaseResultMap" type="com.safecode.cyberzone.pojo.AdTaskTarget" >
    <id column="id_" property="id" jdbcType="BIGINT" />
    <result column="task_id" property="taskId" jdbcType="BIGINT" />
    <result column="target_id" property="targetId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="BIGINT" />
    <result column="del_flag" property="delFlag" jdbcType="BIT" />
    <result column="remark_" property="remark" jdbcType="LONGVARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ad_task_target
    where id_ = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.safecode.cyberzone.pojo.AdTaskTarget" >
    insert into ad_task_target (id_, task_id, target_id, 
      create_time, create_by, update_time, 
      update_by, del_flag, remark_
      )
    values (#{id,jdbcType=BIGINT}, #{taskId,jdbcType=BIGINT}, #{targetId,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=BIGINT}, #{delFlag,jdbcType=BIT}, #{remark,jdbcType=LONGVARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.safecode.cyberzone.pojo.AdTaskTarget" >
    update ad_task_target
    set task_id = #{taskId,jdbcType=BIGINT},
      target_id = #{targetId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=BIGINT},
      del_flag = #{delFlag,jdbcType=BIT},
      remark_ = #{remark,jdbcType=LONGVARCHAR}
    where id_ = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id_, task_id, target_id, create_time, create_by, update_time, update_by, del_flag, 
    remark_
    from ad_task_target
    where id_ = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id_, task_id, target_id, create_time, create_by, update_time, update_by, del_flag, 
    remark_
    from ad_task_target
  </select>
  
  <select id="queryBy" resultMap="BaseResultMap" >
    select id_, task_id, target_id, create_time, create_by, update_time, update_by, del_flag, 
    remark_
    from ad_task_target
	<where>
    	del_flag = '0'
		<if test="taskId != null and taskId != ''">
			AND task_id = #{taskId}
		</if>
    </where>
  </select>
  
  <update id="deleteTaskTarget" parameterType="java.lang.Long" >
    update ad_task_target
    set del_flag = '1'
    where task_id = #{taskId,jdbcType=BIGINT}
  </update>
  
  <select id="queryCheckedTargetName" resultType="java.util.Map" >
    select b.id_ AS id, b.infrastructure_name AS infrastructureName
    from ad_task_target a
	left join target_infrastructure b on a.target_id = b.id_
	where
    a.del_flag = '0'
	AND a.task_id = #{taskId}
  </select>
  
</mapper>